#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 0.2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  border-width: 1px;
  border-radius: .5rem;
  border-color: lightskyblue;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.column {
  align-items: center;
  height: 2.2em;
}

.column button {
  width: 6rem;
}

button.sign-in {
  background-color: lightskyblue;
}

.column.name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .description {
    display: none;
  }
}


